@font-face {
  font-family: "Bitter";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/bitter/Bitter-Light.woff2") format("woff2"), url("../fonts/bitter/Bitter-Light.woff") format("woff");
}
@font-face {
  font-family: "Bitter";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/bitter/Bitter-Regular.woff2") format("woff2"), url("../fonts/bitter/Bitter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Bitter";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/bitter/Bitter-Medium.woff2") format("woff2"), url("../fonts/bitter/Bitter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Bitter";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/bitter/Bitter-SemiBold.woff2") format("woff2"), url("../fonts/bitter/Bitter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Bitter";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/bitter/Bitter-Bold.woff2") format("woff2"), url("../fonts/bitter/Bitter-Bold.woff") format("woff");
}
.container {
  max-width: 1375px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--relative {
  position: relative;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 769px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1375px;
  }
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Bitter", sans-serif;
  position: relative;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

a[href^="tel:"] {
  white-space: nowrap;
}

input, button, textarea {
  font-family: "Bitter", sans-serif;
  outline: none;
  -webkit-appearance: none;
}

button {
  background: none;
}

textarea {
  resize: none;
}

input[type=submit] {
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul {
  margin: 14px 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  margin: 0 0 12px;
}

h1 {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 36px;
  line-height: 38px;
  letter-spacing: -1px;
  font-family: "Bitter", sans-serif;
}

h2 {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  font-family: "Bitter", sans-serif;
}

h3 {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  font-family: "Bitter", sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover {
  text-decoration: none;
}

body.overflow {
  height: 100vh;
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
body.is-open-menu {
  -webkit-transform: translateX(270px);
      -ms-transform: translateX(270px);
          transform: translateX(270px);
}

html {
  overflow-x: hidden;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.subtitle {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
}

.section {
  padding: 30px 0 40px;
}
.section--min {
  padding: 10px 0 40px;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.fix {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  -webkit-animation: fadeInUp 0.5s ease;
          animation: fadeInUp 0.5s ease;
}

#top {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 60px;
  bottom: 60px;
  z-index: 50;
}
#top svg {
  max-width: 100%;
  max-height: 100%;
}

.m-0 {
  margin: 0;
}

.test {
  outline: 1px solid red;
}

.map-wrap {
  position: relative;
  height: 100%;
}
.map-wrap iframe {
  border: none;
  height: 100%;
  min-height: 500px;
  width: 100%;
}

.color-white {
  color: #fff;
}

.columns-2 {
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.columns-2 p {
  margin-top: 0;
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.video-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

@-webkit-keyframes fadeInUp {
  0% {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    display: none;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  1% {
    display: block;
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    display: block;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.btn {
  display: inline-block;
  padding: 12px 40px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: normal;
  outline: none;
}
.btn:hover {
  text-decoration: none;
}
.btn:focus {
  outline: 1px solid #C56C1A;
}
.btn svg {
  position: relative;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  top: 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn--active {
  background-color: #C56C1A;
  color: #fff;
}
.btn--active svg {
  fill: #fff;
}
.btn--active:hover {
  outline: 1px solid #C56C1A;
  background-color: #F7F3EA;
  color: #C56C1A;
}
.btn--active:hover svg {
  fill: #C56C1A;
}
.btn--active:active {
  outline: 2px solid #C56C1A;
}
.btn--light {
  background: #F7F3EA;
  color: #C56C1A;
}
.btn--light svg {
  fill: #C56C1A;
}
.btn--light:hover {
  outline: 1px solid #C56C1A;
}
.btn--light:active {
  outline: 2px solid #C56C1A;
}

.langs-toggle {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.langs-toggle__link {
  position: relative;
  display: block;
  padding: 8px 10px;
  min-width: 52px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #fff;
  background: #746B60;
  text-align: center;
}
.langs-toggle__link.is-active {
  background: #fff;
  color: #000;
}
.langs-toggle__link.is-active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 5px solid #fff;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #fff;
}

@media (max-width: 991px) {
  .langs-toggle {
    left: auto;
    right: 0;
  }
  .langs-toggle__link {
    background: #9F9889;
  }
}
.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-list__link {
  display: block;
  height: 26px;
  max-width: 26px;
  margin-right: 45px;
}
.social-list__link:hover {
  opacity: 0.6;
}
.social-list__link:last-child {
  margin-right: 0;
}
.social-list__link svg {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 991px) {
  .social-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .social-list__link {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .social-list__link:last-child {
    margin-bottom: 0;
  }
}
.header {
  background: #EAE3D3;
}

.header-top {
  position: relative;
}

.header-top-menu {
  display: none;
}
.header-top-menu__link {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 28px;
  border: none;
}
.header-top-menu__link:last-child {
  margin-right: 0;
}
.header-top-menu__link svg {
  width: 100%;
  height: 100%;
  stroke: #A95508;
  stroke-width: 2px;
}

.header-main {
  display: grid;
  grid-template-columns: 392px auto 1fr auto;
  grid-template-areas: "a b c d" "a e e e";
  padding: 97px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.header-main__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-area: a;
}
.header-main__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: b;
}
.header-main__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: c;
}
.header-main__eye {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: d;
}
.header-main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 94px;
  grid-area: e;
}

.logo {
  display: inline-block;
}
.logo__img {
  display: block;
}

.eye-toggle {
  display: inline-block;
  position: relative;
  padding-left: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #2A2926;
  text-transform: uppercase;
}
.eye-toggle:hover {
  color: #C56C1A;
}
.eye-toggle:hover .eye-toggle__icon {
  stroke: #C56C1A;
}
.eye-toggle__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 24px;
  stroke: #2A2926;
  stroke-width: 2px;
  -webkit-transition: stroke 0.3s ease;
  -o-transition: stroke 0.3s ease;
  transition: stroke 0.3s ease;
}

.header-line-dotted {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 0 40px;
  height: 1px;
  background-image: -o-linear-gradient(left, #C56C1A, #C56C1A 1px, transparent 1px, transparent 3px, transparent 100%);
  background-image: linear-gradient(90deg, #C56C1A, #C56C1A 1px, transparent 1px, transparent 3px, transparent 100%);
  background-size: 5px 1px;
}

.main-menu-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}
.main-menu__link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #2A2926;
  text-transform: uppercase;
}
.main-menu__link::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #C56C1A;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.main-menu__link:hover, .main-menu__link.is-active {
  color: #C56C1A;
}
.main-menu__link:hover::after, .main-menu__link.is-active::after {
  opacity: 1;
}

.header-search {
  margin-left: 82px;
}
.header-search__btn {
  display: block;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.header-search__btn:hover svg {
  stroke: #C56C1A;
}
.header-search__btn svg {
  width: 100%;
  height: 100%;
  stroke: #2A2926;
  stroke-width: 2px;
  -webkit-transition: stroke 0.3s ease;
  -o-transition: stroke 0.3s ease;
  transition: stroke 0.3s ease;
}

@media (max-width: 1200px) {
  .header-main {
    grid-template-columns: 300px auto 1fr auto;
  }
  .header-search {
    margin-left: 20px;
  }
  .main-menu__link {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  .header-top {
    position: static;
    padding: 33px 0 10px;
  }
  .header-top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-search {
    display: none;
  }
  .header-line-dotted {
    display: none;
  }
  .header-main {
    padding: 46px 0;
    grid-template-columns: 1fr 30px;
    grid-template-areas: "a b" "c b" "d b";
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
  }
  .header-main__social {
    height: 100%;
    grid-area: b;
  }
  .header-main__eye {
    height: auto;
    margin-top: 50px;
    grid-area: c;
  }
  .header-main__line {
    display: none;
  }
  .header-main__nav {
    margin-top: 0;
    display: block;
    position: fixed;
    top: 0;
    left: -270px;
    z-index: 1000;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  .header-main__nav.is-active::after {
    content: "";
    position: absolute;
    top: 37px;
    right: -10px;
    border-top: 6px solid transparent;
    border-right: none;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #F6F3EA;
  }
  .main-menu-nav {
    padding: 65px 43px;
    width: 270px;
    height: 100vh;
    overflow-y: auto;
    background: #F6F3EA;
  }
  .main-menu {
    display: block;
  }
  .main-menu__item {
    margin-bottom: 30px;
  }
  .main-menu__link {
    display: block;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
  }
  .eye-toggle {
    padding-left: 60px;
    line-height: 24px;
    color: #746B60;
  }
  .eye-toggle__icon {
    top: 50%;
    width: 43px;
    height: 26px;
    stroke: #746B60;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
.intro-slider-big {
  overflow-y: auto;
}
.intro-slider-big * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.intro-slider-big__item {
  position: relative;
  overflow: hidden;
}
.intro-slider-big__item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -o-linear-gradient(249.82deg, rgba(0, 0, 0, 0.6) 21.94%, rgba(0, 0, 0, 0.34375) 51.9%, rgba(0, 0, 0, 0) 88.45%);
  background: linear-gradient(200.18deg, rgba(0, 0, 0, 0.6) 21.94%, rgba(0, 0, 0, 0.34375) 51.9%, rgba(0, 0, 0, 0) 88.45%);
  opacity: 0.4;
}
.intro-slider-big__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: auto;
  height: 100%;
}
.intro-slider-big__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px 0 80px;
  height: 616px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}
.intro-slider-big__title {
  margin: 20px 0;
  max-width: 800px;
  font-weight: 600;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fff;
}

.parallax {
  height: 100%;
  overflow: hidden;
}
.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 150%;
}
.parallax__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.intro-slider-buttons {
  width: 100%;
  height: 100%;
}

.intro-slider-button {
  position: absolute;
  z-index: 10;
  top: -122px;
  cursor: pointer;
}
.intro-slider-button--prev {
  left: -60px;
  border-top: 15px solid transparent;
  border-right: 25px solid #fff;
  border-bottom: 15px solid transparent;
  border-left: none;
}
.intro-slider-button--next {
  right: -60px;
  border-top: 15px solid transparent;
  border-right: none;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #fff;
}

.intro-slider-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 10;
}
.intro-slider-dots .swiper-pagination-bullet {
  display: inline-block;
  width: 30px;
  height: 8px;
  margin-right: 26px;
  border-radius: 0;
  background: #EAE3D3;
  opacity: 1;
}
.intro-slider-dots .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.intro-slider-dots .swiper-pagination-bullet-active {
  background: #fff;
  position: relative;
}
.intro-slider-dots .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #fff;
}

.intro-bottom {
  padding: 86px 0 90px;
  background: #EAE3D3;
  font-weight: 300;
  font-size: 20px;
  line-height: 180%;
}
.intro-bottom__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.intro-bottom__col {
  position: relative;
}

.intro-slider-min {
  position: absolute;
  max-width: 548px;
  top: -140px;
  z-index: 20;
}
.intro-slider-min__item:not(.swiper-slide-active) .intro-slider-min__btn {
  opacity: 0;
}
.intro-slider-min__wrapper {
  padding: 22px 0 32px;
}
.intro-slider-min__inner {
  position: relative;
  background: #fff;
  padding: 50px;
  font-weight: 300;
  font-size: 16px;
  line-height: 180%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.intro-slider-min__inner::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  border-top: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid #fff;
  border-left: 11px solid #fff;
}
.intro-slider-min__inner p {
  margin: 0;
}
.intro-slider-min__btn {
  position: absolute;
  bottom: -30px;
  left: 50px;
}

@media (max-width: 1400px) {
  .intro-slider-button--prev {
    left: 10px;
  }
  .intro-slider-button--next {
    right: 10px;
  }
  .intro-slider-big__inner {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 1200px) {
  .intro-slider-big__inner {
    height: 400px;
  }
  .intro-bottom__row {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .intro-slider-big__title {
    font-size: 50px;
  }
  .intro-bottom__row {
    grid-template-columns: 1fr;
  }
  .intro-slider-min {
    position: static;
    margin-top: -140px;
    max-width: 100%;
  }
  .intro-slider-min__wrapper {
    padding-bottom: 52px;
  }
  .intro-slider-min__btn {
    left: 0;
    bottom: -52px;
  }
}
@media (max-width: 767px) {
  .intro-slider-big__inner {
    height: 378px;
  }
  .intro-slider-big__title {
    font-size: 36px;
  }
  .intro-slider-button--prev {
    border-top: 9px solid transparent;
    border-right: 18px solid #fff;
    border-bottom: 9px solid transparent;
  }
  .intro-slider-button--next {
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-left: 18px solid #fff;
  }
  .intro-slider-min__inner {
    padding: 30px;
  }
  .intro-bottom {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */
