.header 
    background: $bgDark

.header-top 
    position: relative

.header-top-menu 
    display: none

    &__link 
        display: block 
        width: 20px
        height: 20px
        margin-right: 28px
        border: none
        
        &:last-child
            margin-right: 0

        svg 
            width: 100%
            height: 100%
            stroke: $activeColorDark
            stroke-width: 2px

.header-main
    display: grid 
    grid-template-columns: 392px auto 1fr auto 
    grid-template-areas: "a b c d" "a e e e"
    // column-gap: 40px
    padding: 97px 0
    align-items: end
    // flex-wrap: wrap

    &__logo
        display: flex 
        align-items: end
        grid-area: a 

    &__social 
        display: flex 
        height: 26px
        align-items: center
        grid-area: b 

    &__line 
        display: flex 
        height: 26px
        align-items: center
        grid-area: c 

    &__eye 
        display: flex 
        height: 26px
        align-items: center
        grid-area: d 

    &__nav 
        display: flex 
        align-items: center
        margin-top: 94px
        grid-area: e



.logo
    display: inline-block 
    &__img 
        display: block

.eye-toggle 
    display: inline-block
    position: relative
    padding-left: 44px
    font-weight: 600
    font-size: 16px
    line-height: 21px
    color: $blackHeader
    text-transform: uppercase

    &:hover 
        color: $activeColor

        .eye-toggle__icon 
            stroke: $activeColor

    &__icon
        position: absolute
        top: 0
        left: 0
        width: 28px
        height: 24px
        stroke: $blackHeader
        stroke-width: 2px
        transition: stroke 0.3s ease

    // span 
        // display: inline-block

.header-line-dotted 
    flex: auto
    margin: 0 40px
    height: 1px
    background-image: linear-gradient(90deg, $activeColor, $activeColor 1px, transparent 1px, transparent 3px, transparent 100%)
    background-size: 5px 1px

.main-menu-nav 
    flex: 1

.main-menu 
    display: flex 
    justify-content: space-between
    margin: 0

    &__link 
        position: relative
        font-weight: 400
        font-size: 16px
        line-height: 18px 
        color: $blackHeader
        text-transform: uppercase
        &::after
            content: ''
            width: 100%
            height: 1px
            background: $activeColor
            position: absolute
            bottom: 0
            left: 0
            opacity: 0
            transition: opacity 0.3s ease

        &:hover, &.is-active 
            color: $activeColor
            &::after
                opacity: 1

.header-search
    margin-left: 82px

    &__btn 
        display: block 
        border: none 
        width: 20px
        height: 20px
        cursor: pointer

        &:hover 
            svg 
                stroke: $activeColor

        svg 
            width: 100%
            height: 100%
            stroke: $blackHeader
            stroke-width: 2px
            transition: stroke 0.3s ease


@media (max-width: 1200px)
    .header-main
        grid-template-columns: 300px auto 1fr auto 

    .header-search
        margin-left: 20px

    .main-menu
        &__link 
            font-size: 14px
// max-width: 1200px

@media (max-width: 991px)
    .header-top 
        position: static
        padding: 33px 0 10px

    .header-top-menu
        display: flex


    .header-search
        display: none

    .header-line-dotted
        display: none

    .header-main
        padding: 46px 0
        grid-template-columns: 1fr 30px
        grid-template-areas: "a b" "c b" "d b"
        align-items: start
        column-gap: 40px

        &__social 
            height: 100%
            grid-area: b 

        &__eye 
            height: auto
            margin-top: 50px
            grid-area: c

        &__line 
            display: none

        &__nav 
            margin-top: 0
            display: block 
            position: fixed 
            top: 0
            left: -270px
            z-index: 1000
            transition: transform 0.3s ease
            &.is-active 
                // transform: translateX(280px)
                &::after 
                    content: ''
                    position: absolute
                    top: 37px
                    right: -10px
                    border-top: 6px solid transparent
                    border-right: none 
                    border-bottom: 6px solid transparent
                    border-left: 10px solid $activeColorLight

    .main-menu-nav
        padding: 65px 43px
        width: 270px
        height: 100vh
        overflow-y: auto 
        background: $activeColorLight

        

    .main-menu
        display: block 

        &__item 
            margin-bottom: 30px

        &__link 
            display: block 
            font-size: 16px 
            line-height: 24px
            text-align: right

    .eye-toggle 
        padding-left: 60px
        line-height: 24px
        color: #746B60

        &__icon 
            top: 50%
            width: 43px
            height: 26px
            stroke: #746B60
            transform: translateY(-50%)
// max-width: 991px