-
    var socialList = [
        {
            label: 'Ссылка на youtube',
            icon: './img/sprite.svg#icon-youtube'
        }, {
            label: 'Ссылка на vk',
            icon: './img/sprite.svg#icon-vk'
        }, {
            label: 'Ссылка на rutube',
            icon: './img/sprite.svg#icon-rutube'
        }, {
            label: 'Ссылка на ok',
            icon: './img/sprite.svg#icon-ok'
        }
    ]

    var mainMenu =  {
        classMenu: 'main-menu',
        classMenuItem: 'main-menu__item',
        classMenuLink: 'main-menu__link',
        items: [
            {
                name: 'новости',
                link: '#'
            }, {
                name: 'о вампилове',
                link: '#'
            }, {
                name: 'о кульурном центре',
                link: '#'
            }, {
                name: 'афиша',
                link: '#'
            }, {
                name: 'контакты',
                link: '#'
            } 
        ]};

include ../../components/_menu


header.header 
    .container 
        .header-top 
            .langs-toggle 
                a.langs-toggle__link.is-active(href="#")
                    | рус
                a.langs-toggle__link(href="#")
                    | eng

            .header-top-menu 
                button.header-top-menu__link.js-open-menu(aria-label="Открыть меню")
                    svg 
                        use(xlink:href="./img/sprite.svg#burger")
            
                button.header-top-menu__link(aria-label="Открыть поиск")
                    svg 
                        use(xlink:href="./img/sprite.svg#search")

                a.header-top-menu__link(href="#", aria-label="Обратный звонок")
                    svg 
                        use(xlink:href="./img/sprite.svg#phone")
            
        .header-main 
            .header-main__logo
                a.logo(href="#")
                    //- | logo
                    img.logo__img(src="./img/logo.svg")

            .header-main__social
                .social-list 
                    each item in socialList
                        a.social-list__link(href="#", aria-label=item.label)
                            svg.social-list__link-svg 
                                use(xlink:href=item.icon)
            
            .header-main__line
                .header-line-dotted
                        
            .header-main__eye
                a.eye-toggle(href="#")
                    svg.eye-toggle__icon 
                        use(xlink:href="./img/sprite.svg#eye")
                    span Версия для слабовидящих

            .header-main__nav
                nav.main-menu-nav 
                    +menu(mainMenu)

                .header-search 
                    button.header-search__btn(aria-label="Поиск")
                        svg 
                            use(xlink:href="./img/sprite.svg#search")
