header.header 
    .container 
        .header-top 
            .langs-toggle 
                a.langs-toggle__link.is-active(href="#")
                    | рус
                a.langs-toggle__link(href="#")
                    | eng
        .header-main 
            .header-main__logo 
                .test test
            .header-main__social 
                .test test
            .header-main__line 
                .test test
            .header-main__eye 
                .test test
            .header-main__nav
                .test test